Realizaremos el primer proceso de limpieza, teniendo en cuenta los siguientes puntos:

A.- Valores nulos

B.- Valores duplicados

C.- datos faltantes

D.- datos no necesarios

# Análisis exploratorio

El análisis exploratorio nos dará información estructural de los dataframes (tamaño, orden, etc) para poder realizar el primer proceso de limpieza, en donde queden unicamente datos relevantes, para que posteriormente se haga una transformación (reducción).

In [7]:
import pandas as pd
import re
import numpy as np
#Importamos 5 cotizaciones para realizar la parte de limpieza.

cot1 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Enero/CTQ-787 ELECTROSERVICIOS (DESCARGA Y ARRASTRE DE MAQUINA).csv')
cot2 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Febrero/CTQ-844 BUSSMANN (SERVICIO DE SUMINISTRO DE RUEDA).csv')
cot3 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Julio/CTQ-952 ZF (EMBALAJE LINEA EP5).csv')
cot4 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Septiembre/CTQ-995 PIZZA HUT (SERVICIO DE FABRICACIÓN DE PUERTA PARA ÁREA DEL SITE).csv')
cot5 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Noviembre/CTQ-1042 VALEO (SUMINISTRO DE VIDRIO TEMPLADO).csv')

Los dataframes provienen de diccionarios, es decir, las columnas: range, majorDimensio, provienen de la funcion de extracción de Google Sheets.

La columna importantes es unicamente "value", trabajaremos con esa información.

# Limpieza

Eliminaremos valores nulos y la sección de términos y condiciones.

In [72]:
#Creamos funciones de transformación


#Funcion para eliminar valores nulos en este contexto:

def dropnull(df):
    j=0
    while j<len(df):
        if '[]' in df['values'][j]:
            #print(f"el registro {j} es nulo")
            df=df.drop(index = df.index[j])
            df.reset_index(drop = True, inplace = True)
            #print(f"dimension interaccion {n}")
            #print(f"dimension real: {len(cotizacion1)}")
        else:
            #print(f"registro {j} no nulo")
            #print(f"dimension real: {len(cotizacion1)}")
            j+=1
    return df

def dropextrainf(df):
    n=0
    while n< len(df):
        if re.search("T[EÉ]RMINOS",df['values'][n]) != None:    #Añadimos funciones regex
            #print(f"A partir del registro {n} tiene los terminos y condiciones")
            df = df.drop(index = df.index[n:])
            break
        else:
            #print(f"La información de este registro {n} es importante")
            n+=1
    return df

In [ ]:
print(dropnull(dropextrainf(cot2)))     #No importa el orden de la composición de funciones.

def limpieza1(df): return dropnull(dropextrainf(df))

# Extracción

extraemos los campos importantes y creamos un tablas a partir de la extracción.

Los conceptos a extrar serán:

PORYECTO:
FOLIO:
UBICACIÓN:
CONTACTO:

clave, descripción/partida , unidad, cantidad, P.U, cantidad

COSTO TOTAL:


Los campos en mayusculas son conceptos simples, es decir, tiene un unico dato/valor.

Los campos que estan en minusculas consecutivamente son valores que por simplicidad podemos hacer una tabla propiamente, ya que en el documento excel estan presentados en tablas y su orden hará mas fácil la extracción.

In [ ]:
cleanfile = dropnull(dropextrainf(cot1))

In [ ]:
#PExraemos los conceptos simples

print(cleanfile['values'][0])
print(re.search('PROYECTO :', cleanfile['values'][0]))
print(re.split('PROYECTO :',cleanfile['values'][0],maxsplit=1))



print(re.findall('PROYECTO', cleanfile['values'][0]))

In [46]:
type(cleanfile['values'][0])

str

# TRANSFORMACIÓN ALTERNA

Los datos extraidos los trabajaremos como CSV´s. La estructura de la columna values de los dataframes, son cadenas de caracteres que representen toda una fila del documento en formato CSV.

In [96]:
#Creamos un dataframe donde las columnas serán las filas del archivo y las filas los elementos separados por comas.
 
#Los valores faltantes para el tamaño del dataframe lo rellenamos con valores nulos
def filetodataframe(cleanfile):
    separaciones = [len(re.split(',',cleanfile['values'][filas])) for filas in range(len(cleanfile))]   
    df = pd.DataFrame(np.zeros((max(separaciones),len(cleanfile))))
    #print(separaciones)
    #print(f" el dataframe EES: {df}")
    for j in range(len(cleanfile)):    
        #print(f"Seguimos con la fila {j}")
        fila = re.split(',',cleanfile['values'][j])
        fila.extend(np.zeros((len(df)-len(fila))))
        df[j] = fila
        #print(f"el tamano de la lista a incorporar es: {len(fila)} y la longitud del dataframe es: {len(df)}, tienen que empatar")
    return df

In [ ]:
cleancot3 = limpieza1(cot3)

In [98]:
df = filetodataframe(cleancot3)

# Limpieza con Pandas

Creamos una tabla de cotizaciones a partir de los campos presentes en el dataframe.

In [99]:
df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,['',['',['',['',['',['',['',['',['',['',...,['',['',['',['',['',['',['',['',['',[''
1,'PROYECTO: EMBALAJE LINEA EP5','','UBICACIÓN: PLANTA ZF DIRECCIONES ','CONTACTO: ANA GUTIERREZ','DOMICILIO:INFINITO #210,'CLAVE','1','2','3','4',...,'19','20','21','22','23','24','25','26','27','COSTO TOTAL '
2,'','','','',UNIVERSO 2000,'DESCRIPCION / PARTIDA O CONCEPTO',"'SERVICIO DE FABRICACION DE TARIMA DE 84"" X 7...",'SERVICIO DE FABRICACION DE TARIMA DE 1.90 X ...,"'SERVICIO DE FABRICACION DE TARIMAS DE 45"" X ...","'SERVICIO DE FABRICACION DE TARIMA DE 56"" X 1...",...,'SERVICIO DE FABRICACION DE TARIMAS 5.70 MTS ...,'SERVICIO DE FABRICACION DE TARIMAS 5.60 MTS ...,'SERVICIO DE FABRICACION DE TARIMAS 4.50 MTS ...,'SERVICIO DE FABRICACION DE TARIMAS 2.80 MTS ...,"'SERVICIO DE FABRICACION DE TARIMAS 36"" X 96""...","'SERVICIO DE FABRICACION DE TARIMAS 40""X 68""...","'SERVICIO DE FABRICACION DE TARIMAS 48"" X 56""...","'SERVICIO DE FABRICACION DE TARIMAS 30"" X 48""...",'SERVICIO DE EMPLAYADO DE TARIMAS A BASE DE ...,''
3,'','','','',QUERETARO,'UNIDAD',' SERV.',' SERV.',' SERV.',' SERV.',...,' SERV.',' SERV.',' SERV.',' SERV.',' SERV.',' SERV.',' SERV.',' SERV.',ROLLO DE EMPLAYER CALIBRE 80 X 1300 PIES,''
4,'','','','',QRO. C.P 76085 TEL. 442-2229002',' CANTIDAD','1','1','1','1',...,'1','1','1','1','1','1','1','1',BAMDAS Y MATRACAS DE SUJECION,''
5,'',' FOLIO: CTQ-000952'],' UNE: ...,' FECHA: ...,'',' P.U.',' $ 13,' $ 5,' $ 7,' $ 9,...,' $ 10,' $ 14,' $ 18,' $ 8,' $ 5,' $ 4,' $ 4,' $ 4,"ARMELLAS DE 3/8""",''
6,' No de formato: QSS-020'],0.0,0.0,0.0,'',' CANTIDAD',757.00 ',093.00 ',000.00 ',050.00 ',...,600.00 ',600.00 ',300.00 ',000.00 ',000.00 ',700.00 ',750.00 ',500.00 ',TRATAMIENTO TERMICO,' $ 481
7,0.0,0.0,0.0,0.0,'',' '],' $ 13,' $ 5,' $ 7,' $ 9,...,' $ 10,' $ 14,' $ 18,' $ 8,' $ 5,' $ 4,' $ 4,' $ 4,MANO DE OBRA Y HERRAMIENTA PARA SU CORRECTA I...,000.000 ']
8,0.0,0.0,0.0,0.0,' RFC:SIA...,0.0,757.00 '],093.00 '],000.00 '],050.00 '],...,600.00 '],600.00 '],300.00 '],000.00 '],000.00 '],700.00 '],750.00 '],500.00 '],' SERV.',0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,'1',0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,' $ 283,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,610.00 ',0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,' $ 283,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,610.00 '],0.0

La tabla de cotizaciones tendra la siguiente forma:

folio, fecha_cotizacion, proyecto, ubicación, contacto, estado, costo_total.

Crearemos otra tabla llamada proyectos, ligada a la tabla cotizaciones:

folio_cotización, n_partidas, cantidad/valor_por_partida, costo_total, descripción.

La primera columna tiene la metadata de la cotización y la información necesaria para la primera columna

In [133]:
metdata_cot = ['PROYECTO:', 'UBICACI[OÓ]', 'CONTACTO', 'UNE' ,  'FOLIO' , 'FECHA:' , 'COSTO_TOTAL' ]

nfilas = len(df)                #14
ncolumnas = len(df.columns)     #34

for i in range(ncolumnas):
    for j in range(nfilas):
        if re.search(metdata_cot[i], df.iloc[j,i]) != None:
            print(f"la palabra {metdata_cot[i]} fue encontrada en el registro [{i},{j}] del dataframe" )
            
        else:
            print("no se encontro")
            print(f"valor de i: {i} , de j: {j}")

no se encontro
valor de i: 0 , de j: 0
la palabra PROYECTO: fue encontrada en el registro [0,1] del dataframe
no se encontro
valor de i: 0 , de j: 2
no se encontro
valor de i: 0 , de j: 3
no se encontro
valor de i: 0 , de j: 4
no se encontro
valor de i: 0 , de j: 5
no se encontro
valor de i: 0 , de j: 6

TypeError: cannot use a string pattern on a bytes-like object

In [124]:
for n,m in zip(range(0,6,2),range(0,12,1)):
    print(f"el valor de n es: {n} y de m es: {m}")

el valor de n es: 0 y de m es: 0
el valor de n es: 2 y de m es: 1
el valor de n es: 4 y de m es: 2