Realizaremos el primer proceso de limpieza, teniendo en cuenta los siguientes puntos:

A.- Valores nulos

B.- Valores duplicados

C.- datos faltantes

D.- datos no necesarios

# Análisis exploratorio

El análisis exploratorio nos dará información estructural de los dataframes (tamaño, orden, etc) para poder realizar el primer proceso de limpieza, en donde queden unicamente datos relevantes, para que posteriormente se haga una transformación (reducción)

In [235]:
import pandas as pd
#Importamos 5 cotizaciones para realizar la parte de limpieza.

cot1 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Enero/CTQ-787 ELECTROSERVICIOS (DESCARGA Y ARRASTRE DE MAQUINA).csv')
cot2 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Febrero/CTQ-844 BUSSMANN (SERVICIO DE SUMINISTRO DE RUEDA).csv')
cot3 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Julio/CTQ-952 ZF (EMBALAJE LINEA EP5).csv')
cot4 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Septiembre/CTQ-995 PIZZA HUT (SERVICIO DE FABRICACIÓN DE PUERTA PARA ÁREA DEL SITE).csv')
cot5 = pd.read_csv('C:/Users/52473/OneDrive/Documentos/SITEC/Cotizaciones (caratula)/Capa1Extract/2023/Noviembre/CTQ-1042 VALEO (SUMINISTRO DE VIDRIO TEMPLADO).csv')

Los dataframes provienen de diccionarios, es decir, las columnas: range, majorDimensio, provienen de la funcion de extracción de Google Sheets.

La columna importantes es unicamente "value", extraeremos esa información, quitando las entradas que representan los terminos y condiciones

In [245]:
#Creamos funciones de transformación


#Funcion para eliminar valores nulos en este contexto:

def dropnull(df):
    j=0
    while j<len(df):
        if '[]' in df['values'][j]:
            print(f"el registro {j} es nulo")
            df=df.drop(index = df.index[j])
            df.reset_index(drop = True, inplace = True)
            #print(f"dimension interaccion {n}")
            #print(f"dimension real: {len(cotizacion1)}")
        else:
            #print(f"registro {j} no nulo")
            #print(f"dimension real: {len(cotizacion1)}")
            j+=1
    return df

def dropextrainf(df):
    n=0
    while n< len(df):
        if 'TÉRMINOS' in df['values'][n] or 'TERMINOS' in df['values'][n]:
            print(f"A partir del registro {n} tiene los terminos y condiciones")
            df = df.drop(index = df.index[n:])
            break
        else:
            print(f"La información de este registro {n} es importante")
            n+=1
    return df

In [247]:
cotizacion1 = dropextrainf(dropnull(cot1))

el registro 0 es nulo
el registro 0 es nulo
el registro 0 es nulo
el registro 6 es nulo
La información de este registro 0 es importante
La información de este registro 1 es importante
La información de este registro 2 es importante
La información de este registro 3 es importante
La información de este registro 4 es importante
La información de este registro 5 es importante
La información de este registro 6 es importante
La información de este registro 7 es importante
A partir del registro 8 tiene los terminos y condiciones

In [248]:
cotizacion1

,range,majorDimension,values
0,CARATULA!A1:H150,ROWS,"['', 'PROYECTO: SERVICIO DE DESCARGA Y ARRASTR..."
1,CARATULA!A1:H150,ROWS,"['', '', '', '', '', ' FOLIO: CT..."
2,CARATULA!A1:H150,ROWS,"['', 'UBICACIÓN: PLANTA TOPRE', '', '', '', ' ..."
3,CARATULA!A1:H150,ROWS,"['', 'CONTACTO: BENITO ZAMORA / ELECTROSERVIC..."
4,CARATULA!A1:H150,ROWS,"['', 'DOMICILIO:INFINITO #210, UNIVERSO 2000, ..."
5,CARATULA!A1:H150,ROWS,"['', 'CLAVE', 'INLCUYE', 'UNIDAD', ' CANTIDAD'..."
6,CARATULA!A1:H150,ROWS,"['', '1', 'Servicio de descarga y arrastre de ..."
7,CARATULA!A1:H150,ROWS,"['', 'COSTO TOTAL ', '', '', '', '', ' $ 74,46..."